#cloud-config
---
timezone: Etc/UTC
package_reboot_if_required: true
package_update: true
package_upgrade: true
packages:
  - exim4-daemon-light
  - neomutt
  - procmail
  - tmux
  - zsh
  - kitty-terminfo

users:
  - name: archivist
  - name: rachel
    shell: /usr/bin/zsh
    sudo: "ALL=(ALL) NOPASSWD:ALL"

phone_home:
  post:
    - pub_key_rsa
    - pub_key_ecdsa
    - pub_key_ed25519
    - instance_id
    - hostname
    - fqdn
  tries: 5
  url: PHONE_HOME_URL
